<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BDTSuite">
 <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="continuum.cucumber.ListnerWebDriver"></listener>
    </listeners>
  <test name="PSA-Test">
    <packages>
      <package name="continuum.cucumber.testRunner"/>
    </packages>
  </test> <!-- Test -->
</suite> <!-- Suite -->
